#container {
  width: 900px;
  height: 1000px;
  border: 1px solid black;
  background-color: blue;
  margin: auto;
}

/* 헤더 */

header {
  width: 100%;
  height: 100px;
  background-color: yellow;
}

#name {
  float: left;
  width: 250px;
  height: 100%;
  background-color: brown;
}

#bottom {

}

#point {
  float: right;
  width: 300px;
  height: 100%;
  background-color: gray;
  
}

/* 메인 */

main {
  width: 100%;
  height: 850px;
  background-color: pink;
  clear: both;
}

#TetrisGame {
  float: left;
  width: 600px;
  height: 100%;
  background-color: black;
}

#nextBlock {
  float: left;
  width: 300px;
  height: 500px;
  background-color: purple;
}

#game_information {
  float: left;
  width: 300px;
  height: 350px;
  background-color: red;
}

/* 풋터 */

footer {
  width: 100%;
  height: 50px;
  background-color: green;
  clear: both;
}