@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

a {
  text-decoration: none;    /* 밑줄 없애기 */
}

body {
  background: url("../images/main_image1.jpg");
  background-size: contain;
}

#container {
  width: 900px;
  height: 900px;
  border: 1px solid black;
  background-color: black;
  margin: auto;
}

/* 헤더 */

header {
  font-family: 'Merienda', cursive;
  width: 100%;
  height: 100px;
}

#name {
  float: left;
  width: 230px;
  height: 100%;
  color: white;
  padding-left: 20px;
  line-height: 100px;
}

#inputName {
  font-size: 30px;
  font-weight: bold;

}

#logo {
  float: left;
  width: 330px;
  height: 100%;
  line-height: 60px;
  padding-left: 30px;
}
#logo h1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

#point {
  float: right;
  width: 280px;
  height: 100%;
  color: white;
  text-align: center;
}

#point > p {
  font-size: 30px;
}


/* 메인 */

main {
  width: 100%;
  height: 750px;
  background-color: pink;
  clear: both;
}

#TetrisGame {
  float: left;
  width: 600px;
  height: 100%;
  background-color: black;
}

#nextBlock {
  float: left;
  width: 300px;
  height: 400px;
  background-color: purple;
}

#game_information {
  float: left;
  width: 300px;
  height: 350px;
  background-color: red;
}

#blockSpeed {
  font-size: 30px;
  text-align: center;
}

#gameTime {
  font-size: 30px;
  text-align: center;
}

#row {
  font-size: 30px;
  text-align: center;
}

/* 풋터 */

footer {
  width: 100%;
  height: 50px;
  border: 1px solid blue;
  clear: both;
  line-height: 50px;
  color: white;
}

footer span {
  margin: auto 40px;
  font-size: 20px
  
}